#h1{
    text-align:center;
  }
  
  body {
    background-color:#e9b4f0;
    background: linear-gradient(top, #eaa4f4, #583d60);
    text-align:center;
  }
  
  .nav-bar {
    font-size: 30px;
    color: #cb04dd;
    position: fixed;
      top: 0px;
      width: 100%;
  }
  
  #nav-bar {
  
          display: block;
          padding: 8px;
          background-color: #b8b3b3;
  
    
  }
  
  #container{
    display: flex;
    flex-flow: column wrap;
  }
  
  #main-body{
    width: 100%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  

  
  @media (max-width: 700px) {
    #header {
      position: absolute;
    }
  }
    
    #logo {
      display: block;
      float: none;
      margin: 0 auto;
    }
    
    
    #header {
    position: fixed;
    top: 0;
  }

  #nav-link {
      width:100%;
      overflow: hidden;
      top: 0;
  }
    
   
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 20px;
      height: 20px;
      text-align: center;
      text-decoration: none;
    }
    
  
    .fa:hover {
      opacity: 0.7;
    }
    
   
    .fa-facebook {
      background: rgb(230, 165, 230);
      color: white;
    }
    
   
    .fa-twitter {
      background: rgb(150, 210, 238);
      color: white;
    }
  
    .fa-linkedin {
      background: #79f0e0;
      color: white;
    }
    
    .fa-youtube {
      background: #807d7d;
      color: white;
    }
    
    .fa-instagram {
      background: #695769;
      color: white;
    }

    .fa-heart {
      color: white;
     
    }

    .fa-user {
        color: white;
    }

    .fa-shopping-basket {
        color: white;
    }
  
    .nav-link {
      display: block;
      padding: 8px;
      background-color: #dddddd;
    }

    #leap {
        margin: auto;
        height: 300px;
        width: 240px;
    }